---
import {CONTACT_EMAIL, GITHUB_URL, X_URL, YOUTUBE_URL} from '../utils/constants.js';
const { platform} = Astro.props;
let url;
switch (platform.toLowerCase()) {
  case 'x':
    url = `${X_URL}`;
    break;
  case 'github':
    url = `${GITHUB_URL}`;
    break;
  case 'youtube':
    url = `${YOUTUBE_URL}`;
    break;
  case 'email':
    url = `mailto:${CONTACT_EMAIL}`;
    break;
  default:
    url = `https://www.${platform}.com/`;
}
---
<a href={url} target="_blank" class="social-link">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
      {platform.toLowerCase() === 'x' && <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24h-6.78l-5.013-6.241-6.188 6.241h-3.308l7.537-8.588-8.502-11.24h6.78l4.914 6.08Z"/>}
      {platform.toLowerCase() === 'github' && <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.91 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>}
    {platform.toLowerCase() === 'youtube' && <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>}
    {platform.toLowerCase() === 'email' && <path d="M24 21h-24v-18h24v18zm-23-16.477v14.477h22v-14.477l-11 8.999-11-8.999zm21.084-2.523l-10.084 8.193-10.084-8.193h20.168z"/>}
  </svg>
  <span class="sr-only">{platform}</span>
</a>

<style>
  .social-link {
    display: inline-block;
    padding: 0.5rem;
    color: #333; /* Icon color */
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
  }

  .social-link:hover {
    transform: scale(1.1);
    color: #ff9776; /* Hover color */
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  /* Dark Mode Styles */
  html.dark .social-link {
    color: #e2e8f0; /* Light icon color for dark mode */
  }

  html.dark .social-link:hover {
    color: #ff9776;
  }
</style>